body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

#taskInput,
#addTaskBtn {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.task-item {
  list-style-type: none;
  margin: 5px 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-label {
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}

.delete-btn {
  margin-left: auto; /* Pushes the button to the far right of the list item */
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}

.edit-task-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  display: none;
  overflow: hidden;
  resize: none;
  font-size: 16px;
}

.edit-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f0ad4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #ec971f;
}
